SoundFile
torchaudio
torchvision
munch
torch
pydub
pyyaml
librosa
nltk
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
phonemizer


torch --index-url https://download.pytorch.org/whl/cu118 ; sys_platform == 'win32'
torchvision --index-url https://download.pytorch.org/whl/cu118 ; sys_platform == 'win32'
torchaudio --index-url https://download.pytorch.org/whl/cu118 ; sys_platform == 'win32'